<mat-drawer-container autosize fxLayout="row" style="width: 100%; height: 100vh;">
    <mat-drawer #drawer mode="side" opened="true">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
            <h1>{{appName}}
            </h1>
            <br>
            <button (click)="testElectronCall()" mat-raised-button color="primary">
                    Call Node Services
                <mat-icon>home</mat-icon>
                </button>
            <h4>{{syncCall}}</h4>
            <h4>{{asyncCall}}</h4>
        </mat-card>
    </div>

</mat-drawer-container>